<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!------ Include the above in your HEAD tag ---------->
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <% include partials/headers %>

  </head>
  <body>
    <div class="container mt-5">
            <div class="row">
                <div class="col col-md6 mt-5">
                    <div class="card">
                        <div class="card-body">
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function() {
      auth(localStorage.getItem("token"));
      userData();
    });

    const apiUrlusers = `http://localhost:4000/api/users/check`;
    const auth = () => {
      $.ajax({
        url: apiUrlusers,
        method: "POST",
        data: {
          token: localStorage.getItem("token")
        }
      }).done(data => {
        if (!data.valid) {
          window.location = "/";
        }
      });
    };

    const userData = () => {
      let row = `<h2>welcome ${localStorage.getItem("email")}</h2>`;
      $(".card-body").html(row);
    };
  </script>
</html>
