<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="images/alx.png" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/stylesheets/style.css">
<!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    <div class="container" style="margin-top: 10%">
  
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          <span class="glyphicon glyphicon-bookmark"></span> Welcome To Dashboard</h3>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <a href="line" class="btn btn-danger btn-lg col-md-12 " style="margin-bottom: 1%" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Line</a>
                            <a href="pie" class="btn btn-warning btn-lg col-md-12" style="margin-bottom: 1%" role="button"><span class="glyphicon glyphicon-star"></span> <br/>Pie</a>
                            <a href="bar" class="btn btn-primary btn-lg col-md-12" style="margin-bottom: 1%" role="button"><span class="glyphicon glyphicon-stats"></span> <br/>Bar</a>
                            <a href="map" class="btn btn-success btn-lg col-md-12" style="margin-bottom: 1%" role="button"><span class="glyphicon glyphicon-globe"></span> <br/>Maps</a>
                          </div>
                          </div>
                      <a href="/login" class="btn btn-info btn-lg btn-block" role="button"><span class="glyphicon glyphicon-cog"></span> Admin Panel</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
