<% include ../partials/headers %>

<div class="mt-5">
<div class="d-flex" id="wrapper" style="margin-top: 0.9%">
    <% include ../partials/sidebar %>
        <!-- Sidebar -->


        <!-- Page Content -->
        <!-- <div id="page-content-wrapper" style="background-color: cornsilk"> -->
        <div class="container-fluid">
            <div class="container-fluid">
                <h2 style="margin-top: 1%">Activity</h2>
                <hr class="mt-1">
            </div>
            <div class="container-fluid">
                    <div class="container-fluid">
                        <h3 style="margin-top: 1%">Activity</h3>
                        <div class="card">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8"> From <%= moment(sevendays).format('DD/MM/YYYY') %>
                                            to <%= moment(now).format('DD/MM/YYYY') %>
                                            <% for (var key in data) { %>
                                            <ul> <strong><%= data[key].date == moment(now).format('YYYY-MM-DD') ? 'Today' : key %></strong>
                                                <% data[key].data.forEach((item)=>{ %>
                                                <li><%= `${moment(item.time).format('HH:mm')} ${item.title} : ${item.description}, Author : ${item.firstname} ` %>
                                                </li>
                                                <%})%>
                                            </ul>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</body>

</html>